@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: "IBM Plex Serif", serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

body {
  background-color: theme("colors.paper");
  color: theme("colors.ink");
}
